NEXT_PUBLIC_SUPABASE_URL=https://xddeuhawmjnnbeglegxr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhkZGV1aGF3bWpubmJlZ2xlZ3hyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ3NTYwMjMsImV4cCI6MjEwMDMzMjAyM30.ntSlZr113-JmFnVWFxAtfGew4HCzqjM8SMR-ro67uC4
SUPABASE_SERVICE_ROLE_KEY=